*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myButton{
    font-size: 4rem;
    margin: 10px;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.enabled{
    background-color: blue;
    color: white;
    width: 300px;
    height: 100px;
    border: 1px solid black;
    font-size: 12px;
}
.disabled{
    cursor: not-allowed;
    background-color: grey;
    color: black;
    border: 1px solid black;
}