*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myButton{
    font-size: 4rem;
    margin: 10px;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}
.enabled{
    background-color: black;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}